html {
    background-color: #343838;
    color: #ADADAD;
    font-style: normal;
    font-weight: 400;
}

h1,h2{
    font-family: "adelle", serif;
    color: $brand-color;
}

h1 {
    @include media-query(lap-and-up){
        @include font-size(81px);
        line-height: 83px;
    }
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 42px;
    margin-bottom: 18px;
}

h2 {
    margin-top: 44px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
}

blockquote {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 26px;
    line-height: 50px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #00DFFC;
}

p {
    margin-bottom: 0px;
    text-indent: 16px;
}

.reading-width {
    max-width: 477px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.author{
    font-style: italic;
    text-indent: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #005F6B;
    margin-top: 0px;
}

.intro {
    @include media-query(lap-and-up){
        @include font-size(24px);
        line-height: 50px;
    }
    text-indent: 0px;
    margin-bottom: 16px;
    line-height: 25px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: #00B4CC;
}

.credits{
    text-indent: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #005F6B;
    margin-top: 0px;
}