@import "scripts/less/elements.less";

body {
	background-color: #DCDCDC;
	color: #000;
	font: 1.1em 'Simonetta', cursive;
	line-height:1.5;
	word-spacing: 4px;
}

h1 {
	font: normal 40px 'Annie Use Your Telescope', cursive;
	margin: 0 20px;
	text-shadow: #000 -1px 1px;
}

h2{
	font: 2.3em 'Annie Use Your Telescope', cursive;
	margin: 0;
	a{
		color: #000;
		text-decoration:none;
		text-shadow: gray -1px 1px;

		&:hover{
		color: #77a809;
		}
	}
}

article{
	margin-bottom:3em;
}

header[role="banner"]{
	.gradient(#1E395A, #1E395A, #47729F);
	height:100%;
	min-width:320px;
	overflow: auto;
	top:0px;

	a{
		color: white;
		text-decoration: none;
		
		&:hover{
			text-decoration:underline;
		}
	}
	
	
	.menu-button{
		cursor: pointer;
		display: block;
		position: absolute;
		right: 15px;
		top:17px;
		text-align:center;
		/* imageless css button by CSSButtonGenerator.com then less-ified */
		a {
			.box-shadow(inset 0px 1px 0px 0px #a4e271);
			.gradient(#89c403, #89c403, #77a809);
			.rounded(6px);
			border:1px solid #74b807;
			display:inline-block;
			color:#ffffff;
			font: bold 15px sans-serif;
			padding:3px 20px;
			text-decoration:none;
			text-shadow:1px 1px 0px #528009;
		}
		a:hover {
			.gradient(#77a809, #77a809, #89c403);
		}
		a:active {
			position:relative;
			top:1px;
		}
	}

	nav{
		width:100%;
		ul li{
			padding-right: 20px;
		}
		
		.js &{
		 	ul{	display: none; }
		}
	}
}

.main{
	margin: 0 auto;
	max-width: 800px;	
	position: relative;
	padding: 0 10px 0 10px;
	.main-content{
		.box-shadow(-2px 2px 5px #B8B8B8);
		background-color: #fff;
		margin-bottom: 30px;
		margin-top: 30px;
		overflow: hidden;
		padding: 10px 10px;
		.rounded(9px);
	}
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}

.wp-caption {
	padding: 0;

	img {
		margin: 0 auto;
		width:100%;
	}
	
	.wp-caption-text {
		background: black;
		background: rgba(0, 0, 0, 0.65);
		color: white;
		font-size:0.9em;
		height: 32px;
		margin: -40px 0 0 0;
		overflow: hidden;
		padding:0;
		position: relative;
		text-align:center;
		white-space: nowrap;
		z-index: 3;
	}
}

.addthis_toolbox{
	position:absolute;
	right:15px;
	top:5px;
	width:140px;
}
.improveon{
	display: none;
	position: absolute;
	right:10px;
	top:10px;
} 

@media screen and (min-width: 480px) {
	article{
		.publish-date{
			.box-shadow(-2px 2px 5px #B8B8B8);
			background-color:#fff;
			margin-left:-50px;
			margin-top: -50px;
			width:40px;
			text-align:center;
			
			.day-of-month{
				font-size:140%;
				font-weight:bold;
			}
		}
	}

	.js header[role="banner"]{
		nav ul{ 
			display: block; 
			li{
				display: inline;
			}
		}
		.menu-button{
			display: none;
		}
	}
	.main{
		padding-left:40px;
	}
	.improveon {
      display: block;
  	}

}