@import "scripts/less/elements.less";

body {
	background-color: #DCDCDC;
	color: #000;
}

header[role="banner"]{
	.gradient(#1E395A, #1E395A, #47729F);
	height:100%;
	min-width:320px;
	overflow: auto;
	top:0px;
	h1{
		font: normal 40px 'Annie Use Your Telescope', cursive;
		margin: 0 20px;
		text-shadow: #000 -1px 1px;
	}

	a{
		color: white;
		text-decoration: none;
	}
	
	.menu-button{
		display: block;
		position: absolute;
		right: 15px;
		top:17px;
		text-align:center;
		/* imageless css button by CSSButtonGenerator.com then less-ified */
		a {
			.box-shadow(inset 0px 1px 0px 0px #a4e271);
			.gradient(#89c403, #89c403, #77a809);
			.rounded(6px);
			border:1px solid #74b807;
			display:inline-block;
			color:#ffffff;
			font-size:15px;
			font-weight:bold;
			padding:3px 20px;
			text-decoration:none;
			text-shadow:1px 1px 0px #528009;
		}
		a:hover {
			.gradient(#77a809, #77a809, #89c403);
		}
		a:active {
			position:relative;
			top:1px;
		}
	}

	nav{
		width:100%;
		ul li{
			padding-right: 20px;
		}
		
		.js &{
		 	ul{	display: none; }
		}
	}
}



#main{
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px 10px;
	.rounded(9px);
	max-width: 800px;
}

.improveon{
	display: none;
	position: absolute;
	right:10px;
	top:10px;
} 

@media screen and (min-width: 480px) {

	.js header[role="banner"]{
		nav ul{ 
			display: block; 
			li{
				display: inline;
			}
		}
		.menu-button{
			display: none;
		}
	}

	.improveon {
      display: block;
  	}

}