body {
    font-family: 'Trebuchet MS';
    background-color: #343838;
    font-style: normal;
    font-weight: 400;
}

h1 {
	font-size: 5.075em;
    line-height: 83px;
    margin-bottom: 18px;
    color: #00B4CC;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 800;
    margin-top: 6px;
}

.main-content {
	width: 477px;
}

.banner{
	float:left;
}

.main{
	float:left;
}